.analysis_panel__container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 20%;
  background-color: var(--bg-panel);
  border-radius: 3px;
  padding: 0 10px 0 10px;
  border: 1px solid var(--border-subtle);
  overflow-y: auto;
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  scrollbar-width: 1px;
  margin-left: 20px;
}

.analysis_panel__container::-webkit-scrollbar {
  width: 1px;
}

.analysis_panel__title {
  font-family: "Ubuntu";
  color: var(--text-primary);
  padding: 5px;
  width: 95%;
  border-bottom: 1px solid var(--border-subtle);
  margin-bottom: 20px;
}

.grid__wrapper {
  display: flex;
  flex-direction: column;
  color: rgb(28, 28, 28);
  font-family: "Ubuntu";
  gap: 20px;
  margin-bottom: 10px;
}

.summary__btn {
  font-family: "Ubuntu";
  color: rgb(174, 204, 228);
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.summary__btn:hover {
  opacity: 60%;
  transition: opacity 0.6s ease-out;
}

.analysis_panel_type_message {
  font-family: "Ubuntu";
  color: var(--text-secondary);
  font-size: 18px;
}
