.analysis_panel {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-content: center;
  gap: 20px;
  color: rgb(28, 28, 28);
  font-family: "Ubuntu";
  text-align: center;
  margin-bottom: 25px;
  background-color: rgb(28, 28, 28);
  border-radius: 8px;
  padding: 15px;
  max-width: 80%;
}

.analysis_panel_type_message {
  font-family: "Ubuntu";
  color: rgb(174, 204, 228);
  font-size: 25px;
}
