.analysis_panel__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 28, 28);
  border-radius: 8px;
  padding: 10px;
  max-width: 80%;
  margin-bottom: 35px;
}

.grid__wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto 1fr;
  place-content: center;
  color: rgb(28, 28, 28);
  font-family: "Ubuntu";
  text-align: center;
  gap: 20px;
  margin-bottom: 10px;
}

.summary__btn {
  font-family: "Ubuntu";
  color: rgb(174, 204, 228);
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.summary__btn:hover {
  opacity: 60%;
  transition: opacity 0.6s ease-out;
}

.analysis_panel_type_message {
  font-family: "Ubuntu";
  color: rgb(174, 204, 228);
  font-size: 25px;
}
