* {
  padding: 0;
  margin: 0;
  background-color: rgb(40, 40, 43);
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 100vh;
  min-height: 100vh;
}
.app__title {
  margin: 10px 20px;
}

.app__description {
  margin-bottom: 15px;
  width: 600px;
}

.app__title,
.app__description {
  color: rgb(174, 204, 228);
  font-family: "Ubuntu";
  text-align: center;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
