:root {
  /* Backgrounds */
  --bg-app-main: #051224;
  --bg-app-secondary: #0d151c;
  --bg-panel: #111827; /* large panels */
  --bg-card: #1e293b; /* cards / rows */

  /* Borders */
  --border-subtle: rgba(255, 255, 255, 0.08);

  /* Text */
  --text-primary: #e5e7eb;
  --text-secondary: #9ca3af;

  /* Accent */
  --accent-blue: #3b82f6;

  /* Severity */
  --risk-high: #ef4444;
  --risk-medium: #f59e0b;
  --risk-low: #10b981;

  /* Button styles */
  --btn-main: #1e2435;
  --btn-panel: #11131a;

  --btn-accent: #4f8cff;
  --btn-accent-soft: rgba(79, 140, 255, 0.15);

  --btn-border: rgba(255, 255, 255, 0.1);
}

* {
  padding: 0;
  margin: 0;
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    var(--bg-app-main),
    var(--bg-app-secondary)
  );
}

.main__content {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  border: 1px solid var(--border-subtle);
  background-color: var(--bg-panel);
  width: 80%;
  height: 80%;
}
