.summary_modal_background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  cursor: pointer;
}

.summary_modal {
  position: relative;
  width: 60%;
  border-radius: 12px;
  padding: 20px;
  background-color: rgb(174, 204, 228);
  cursor: default;
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: normal;
}

.summary_modal__close_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.summary_modal__close_btn:hover svg {
  opacity: 60%;
  transition: opacity 0.4s ease-out;
}

.summary_modal__title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px dotted rgb(40, 40, 40);
}

.summary_modal__change_details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.summary_modal__top_changes {
  list-style-type: none;
  margin-top: 10px;
}

.change__wrapper {
  text-align: center;
}

.top_change {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.summary_modal__summary_text {
  text-align: center;
  max-width: 250px;
  margin-top: 10px;
}
