.viewer__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1300px;
  margin-bottom: 20px;
}

.viewer__upload_container,
.viewer__images_container {
  display: flex;
  flex-direction: row;
}

.viewer__upload_container {
  justify-content: space-around;
}

.viewer__images_container {
  gap: 20px;
}

.viewer__baseline_wrapper,
.viewer__new_wrapper {
  background-color: rgb(174, 204, 228);
  border-radius: 14px;
  width: 600px;
  height: 338px;
  max-width: 600px;
  max-height: 338px;
  overflow: hidden;
}

.viewer__baseline_image,
.viewer__new_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.viewer__image_with_overlay {
  position: relative;
}
